@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or global.css */
.text-primary-gradient {
    background: linear-gradient(90deg, #19D3AE -22.5%, #0FCFEC 120.83%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  